/* Fonts */
@font-face {
    font-family: 'Tinos Regular';
    src: url("fonts/Tinos-Regular.ttf");
}

@font-face {
    font-family: 'Tinos Bold';
    src: url("fonts/Tinos-Bold.ttf");
}

body {
    font-family: 'Tinos Regular', serif;
    background-color: #CBD2D0;
    margin: 0;
    padding: 0 0;
}

/* Extras */

/* Underline for h1, h2, etc.. */
.underline {
    border-bottom: 3px solid #7D70BA;
}

/* Masthead */

#masthead {
    margin: 0;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1B;
}

#masthead h1 {
    font-family: 'Tinos Bold', serif;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
}

/* Navigation */

#masthead nav ul {
    display: flex;
}

#masthead nav ul li {
    list-style: none;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    margin-right: .75rem;
    font-size: 1.25rem;
}

.nav-link {
    font-style: normal;
    text-decoration: none;
    color: #92a09b;
    position: relative;
}


.nav-link::after {
    content: '';
    height: 2.5px;
    width: 100%;
    background-color: #7D70BA;
    position: absolute;
    left: 0;
    bottom: -5px;
    opacity: 0;
}

.nav-link:hover {
    color: #fff;
}

.nav-link:hover::after {
    opacity: 1;
    transition: all 0.2s;
    pointer-events: none;
}

/* Main */

main {
    margin: 0 0;
    padding: 1rem 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, #c8d0ce, #e4e7e6);
}

main h1 {
    font-size: 1.75rem;
    padding-left: 1rem;
    margin: 0;
}

main p {
    margin-top: 1rem;
    font-size: 1rem;
    padding-left: 2rem;
    width: 100%;
}

main h2 {
    padding: 0 0 0 2rem;
    font-size: 0.75rem;
    margin-top: 1rem;
    color: #7D70BA;
}

main h2 .publish-text {
    color: #1b1b1b;
}

main h3 {
    padding-left: 2rem;
    font-family: 'Tinos Regular', serif;
    font-size: 0.75rem;
    color: #7D70BA;
}

main article {
    margin: 2rem;
    width: 100%;
    border-left: 3px solid #1b1b1b;
}

main article ul li a {
    text-decoration: none;
    color: #1b1b1b;
}

main article ul li a:hover {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid #7D70BA;
}

main .main-container {
    margin: 0;
    padding: 0;
}

main .img-container img {
    margin: 0 5rem;
    width: 480px;
    height: 480px;
    border: 5px solid #1b1b1b;
    border-radius: 50%;
}

.year {
    font-size: .75rem;
    color: #7D70BA;
}

/* Footer */

footer {
    padding: 0;
    margin-top: 0;
    background-color: #1B1B1B;
}

footer p {
    text-align: center;
    color: #CBD2D0;
    margin: 0;
    padding: 2.5rem 0;
}

/* Media Queries */

@media (max-width: 900px) {

    #masthead {
        flex-direction: column;
    }

    #masthead h1 {
        padding-left: 0;
        margin-bottom: 0;
    }

    #masthead nav ul {
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    #masthead nav ul li {
        padding-left: 0;
        padding-right: 0;
        margin: 0.5rem 0;
    }

    .nav-link {
        color: #fff;
        border-bottom: 3px solid #7D70BA;
    }

    /* Do not render pseudoelement */
    .nav-link::after {
        content: none;
    }

    main {
        padding: 4rem 4rem 2rem 4rem;
        flex-direction: column-reverse;
    }

    main article {
        margin: 2rem 0;
        border: none;
        text-align: center;
    }

    main article ul {
        list-style: none;
    }

    main article ul li a {
        text-decoration: none;
        font-weight: 600;
        border-bottom: 2px solid #7D70BA;
    }

    main .img-container img {
        height: 360px;
        width: 360px;
    }
}